
@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Cá Nhân</h2>
<a href="@Url.Action("CapNhatThongTinCaNhan","NguoiDung")" class="notify-item">
    <span>Chỉnh Sửa</span>
</a>

