
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutStaff.cshtml";
}

<div class="wrap-main  w-clear">
    <div class="box_layout padding-box">
        <div class="title-main"><span>Trang Chủ</span></div>
        <div class="content-main mt-10 w-clear">
            <div class="mt-2 mb-3 d-flex justify-content-center">
                <a href="@Url.Action("ThemPhieuNhapKho","PhieuNhapKho")" class="btn btn-primary mw-auto">
                    <span>Tạo Phiếu Nhập Kho</span>
                </a>
            </div>
            <div class="mt-2 mb-3 d-flex justify-content-center">
                <a href="@Url.Action("ThemPhieuXuatKho","PhieuXuatKho")" class="btn btn-primary mw-auto">
                    <span>Tạo Phiếu Xuất Kho</span>
                </a>
            </div>
            
        </div>
    </div>
</div>

