
@{
    ViewBag.Title = "XoaNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Nhân Viên ( Các phiếu nhập/xuất kho của nhân viên bị xóa sẽ chuyển sang cho 1 nhân viên mặc định với mục đích lưu trữ</h2>

